.root {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.background-image {
    position: absolute;
    object-fit: cover;
    height: 150%;
    width: 100%;
    z-index: -1;
}

.title {
    margin: 2rem;
    font-size: 3rem;
}

.popup-bubble {
    height: 8rem;
}

.main-area-container {
    height: 8rem;
    width: 85%;
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.time-bar {
    width: 45rem;
}

.btn-difficulty-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.button-container {
    width: 40rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.nes-container {
    background-color: white;
    padding-top: 2rem;
}

.doubled-layered-button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.reset-button {
    margin-left: 2rem;
    margin-right: 2rem;
    height: 4.4rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .nes-typingarea {
      width: 50%;
    }
}